<section data-ng-controller="SheltersCtrl">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.name" id="name" placeholder="Name" required>
			</div>
		</div>
	 	<div class="control-group">
			<label class="control-label" for="street">Street</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.street" id="street" placeholder="Street" required>
			</div>
		  <label class="control-label" for="city">City</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.city" id="city" placeholder="City" required>
			</div>
			<label class="control-label" for="state">State</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.state" id="state" placeholder="State" required>
			</div>
			<label class="control-label" for="zip">Zip</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.zip" id="zip" placeholder="Zip" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>
