<section data-ng-controller="SheltersCtrl" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.name" id="name" placeholder="Name" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="about">About</label>
			<div class="controls">
				<textarea data-ng-model="shelter.about" id="about" placeholder="About"></textarea>
			</div>
		</div>
		<div>
		  <li ng-repeat="animal in shelter.animals">
		    <a href="#/animals/{{ animal._id }}/edit">{{ animal.name }}</a>
		  </li>
		</div>		
	  <div class="control-group">
			<label class="control-label" for="street">Street</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.street" id="street" placeholder="Street" required>
			</div>
		  <label class="control-label" for="city">City</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.city" id="city" placeholder="City" required>
			</div>
			<label class="control-label" for="state">State</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.state" id="state" placeholder="State" required>
			</div>
			<label class="control-label" for="zip">Zip</label>
			<div class="controls">
				<input type="text" data-ng-model="shelter.address.zip" id="zip" placeholder="Zip" required>
			</div>
		</div>		
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
				<input type="button" class="btn" value="Delete" ng-click="remove(shelter)">
			</div>
		</div>
	</form>
</section>
